body{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 20% 40% 40%;
    background-color: var(--color-3);
}

#divPrincipal{
    text-align: center; /* Centraliza horizontalmente o texto dentro da div */
    margin: auto;
    grid-column: 2 ;
    grid-row: 2 ;
    border: 2px solid;
    border-color: aliceblue;
    
}


.entradas{
    width: 50px;
    background-color: white;
    color: black;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 12px;
}

.labelEntradas{
    color: white;
    size: 10px;
    font-size: 18px;
    background-color: var(--color-2);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
        
}


.buttonCalc{
    margin-top: 50px;
    width: 130px;
    height: 25px;
    flex-shrink: 0;
    border-radius: var(--radius-1);
    background: #D9D9D9;
}

.buttonCalc:hover{
    background-color: var(--color-1);
    color: white;
}

/* #figma{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 184px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 46px;
    background: #D9D9D9;
} */

#selecionarCarro{
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.card{
    width: 414px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 32px;
    background-color: #3E3E4B;
}
/* 
//display flex estava fazendo ser impresso na tela a inforção de cdata */



/* LINKADO COM RAIZ */
.selecionaVeiculos{
    border-radius: var(--radius-1);
    background-color:white
    

}