*{
    background-color: black;
    color: white;
    flex-direction: column;

   
}

.entradas{
    width: 50px;
    background-color: white;
    color: black;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.buttonCalc{
    margin: 10px;
}

/* 
//display flex estava fazendo ser impresso na tela a inforção de cdata */