#header{
/*Display stuff*/
    display: grid;
    grid-column: 2;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    border-top-left-radius: var(--radius-3); 
    border-top-right-radius: var(--radius-3);
    background-color: rgb(67, 67, 188);
/*Typography stuff*/
    color: white;

}

body{
/*Display stuff*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 35% 35%;        
/*Box model stuff*/
    background-color: white;
}

#form{
/*Display stuff*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(6, 1fr);
    grid-column: 2;
    grid-row: 2;
/*Box model stuff*/
    margin: auto;
    border: solid 2px black;
    border-bottom-left-radius: var(--radius-3); 
    border-bottom-right-radius: var(--radius-3);
    


}

.label{
/*Display stuff*/
    grid-column: 1;
/*Box model stuff*/
    margin: 5px;
}

.entradas{
/*Display stuff*/
    grid-column: 2;
/*Box model stuff*/
    width: 60px;
    height: 15px;
    margin: 10px;
    border-radius: var(--radius-1);

}

#idaVolta{
/*Display stuff*/
    grid-column: 2;
    grid-row: 4;
/*Box model stuff*/
    margin-left: 15%;

}

#idaVoltaButton{
/*Display stuff*/
    grid-column: 2;
    grid-row: 4;
    align-items:flex-end  !important;
    justify-content: flex-end !important;
/*Box model stuff*/
    height: 15px;
    margin-left: 55%;
}

#botaoresultado{
/*Display stuff*/
    grid-column: 2;
    grid-row: 5;
/*Box model stuff*/
    height: 25px;
    border-radius: var(--radius-1);

}

#selecionarCarro{
/*Display stuff*/
    grid-column: 2;
    grid-row: 6;
/*Box model stuff*/
    height: 25px;
    border-radius: var(--radius-1);
}
