:root{
        /* Botões */
    --radius-1: 03px;
    --radius-2: 10px;
    --radius-3: 12px;
    --color-1: black;
    
    /* Backgorund Color */
    --color-2: #3E3E4B;
    --color-3: rgb(46, 69, 116)
    
}